<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Header</title>
</head>
<body>

<nav class="navbar navbar-inverse">

    <div class="container-fluid">

        <div class="navbar-header">
            <a href="./" class="navbar-brand"><%= title %></a>
        </div>

        <div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="./">Home</a> </li>
                <li><a href="./search">Search</a> </li>
                <li><a href="./train">Train</a> </li>
            </ul>

        </div>

    </div>

</nav>

</body>
</html>