<!DOCTYPE html>
<html>
<head>
    <title>Train</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body background="./images/background.jpeg">

<% include header %>

<div class="container">

    <div class="row col-lg-9" >

        <form role="form">

            <div class="col-lg-5">

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Train Number" /><br>
                    <input type="text" class="form-control" placeholder="Source" /><br>
                    <input type="text" class="form-control" placeholder="Destination" /><br>
                    <input type="text" class="form-control" placeholder="Fare" /><br>
                </div>
            </div>
            <div class="col-lg-2"><div class="form-group"></div></div>
            <div class="col-lg-5">

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Arrival Time" /><br>
                    <input type="text" class="form-control" placeholder="Departure Time" /><br>
                    <input type="text" class="form-control" placeholder="Seats Available" /><br>
                    <input type="submit" style="float: right;" class="col-lg-3 btn btn-primary" /><br>
                </div>

            </div>

        </form>

    </div>

</div>

</body>
</html>